<div>
    <h1 align="center">
        Manager user
    </h1>
        <a class="btn btn-primary" href="/admin/create-user" role="button" style="margin-bottom: 1rem;" > + add user</a>
        {{!-- <button type="submit" class="btn btn-primary" style="margin-bottom: 1rem;" >+ Add user </button> --}}
  
    <form>
        <table class="table table-hover table-secondary">
           
            <thead>
                <tr class="table-active">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Authorities</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
           
            {{#each users}}
            <tbody>
                <tr>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <td>{{author}}</td>
                    <td> <a href="/admin/edit/{{_id}}"><i class="fas fa-edit"></i></a></td>
                    <td>
                        <form action="/admin/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-block btn-sm"><i
                                    class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </form>
</div>